<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="accessId" value="AKIAVHPPW6ETANWYCGWV"/>
    <add key="secretKey" value="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"/>
  </appSettings>
</configuration>